* {
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

.header {
    width: 100%;
    height: 120px;
    background-color: black;
    
    
}

.icononav {
    width: 40px;
    height: 40px;
    display: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}

.logoimg {
    width: 300px;
    height: 120px;
}


.nav__input {
    
    background-color: black;
    color: #F1C40F;
    padding: 7px;
    border: white 5px solid;
    width: 250px;
    height: 40px;
}

.nav__enlace {
    
    text-decoration: none;
    font-size: 25px;
    color: white;
    
    
}

.nav__enlace:hover {
    transform: scale(1,2);
}
    
.inicio {
     font-size: 18px;
     text-align: center;
     color: black;
     padding: 10px;
     justify-content: center;
     align-items: center;
     height: auto;
     background-image: url(../imagenes/esta.png);
     background-repeat: no-repeat; /*no repite la imagen*/
     background-size: cover; /*cubre toda la sección donde este la imagen*/
     background-attachment: fix; /*con esta opción podemos dejar fija la imágen cuando suba o baje en la pag.*/
    
}

.inicio__titulo-1 {
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inicio__titulo-2 {
    font-size: 30px;
    margin-bottom: 30px;
   

}

.inicio__listas {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 30px;

}


.inicio__imagen {
    margin: 30px;
    width: 400px;
    height: 300px;
    border: black solid 2px;
    border-radius: 10px;
    animation-name: logo;
    animation-duration: 5s;

}

@keyframes logo {
    0% {left: 0; top: 0;}
    25% {left: 300px; top:0px}
}


.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    border: solid 3px white;
    border-radius: 20px;
}

.producto {
    
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-start;
    background-image: url(../imagenes/trago.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); 
    grid-template-areas: 
        "ele1 ele2 ele3"
        "ele4 ele5 .";
}

.productos {
    width: 400px;
    height: 400px;
    border: solid 5px white;
    color: wheat;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.productos:hover {
    transform: rotate(160deg);
    transform: scale(0.8);
    transition-duration: 4seg;
}

.imgprod1 {
    width: 280px;
    height: 200px;
}

.imgprod2 {
    width: 180px;
    height: 270px;
    transform: rotate(360deg);
}

.imgprod3 {
    width: 180px;
    height: 250px;
    transform: rotate(360deg);
}

.imgprod4 {
   width: 60px;
   height: 220px;
   transform: rotate(360deg);
}

.imgprod5 {
    width: 90px;
    height: 230px;
    transform: rotate(360deg);
}

.grid__hijo img {
    width: 100%;
    height: 100%;

}

.producto__1 {
    grid-area: ele1;
}

.producto__2 {
    grid-area: ele2;
}

.producto__3 {
    grid-area: ele3;
}

.producto__4 {
    grid-area: ele4;
}

.producto__5 {
    grid-area: ele5;
}


.form {
    background-color: red;
    color: white;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
}

.form__input {
    background-image: url(../imagenes/Wave\ Line.svg);
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 8px;
}

.tabla {
    background-color: red;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: solid 15px black;

}

.descuentos {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}


.promo-texto {
    font-size: 40px;
    margin: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow; 
}

.promociones {
    font-size: 40px;
    margin: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.promociones-todos {
    border: solid black 5px;
    width: 400px;
    font-size: 18px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-top: 15px;
}


.contenedor {
    width: 500px;
    height: 500px;
   
}


@media screen and (max-width: 1023px) {
    .header {height: 80px;}
    .nav__enlace {font-size: 10px;}
    .logoimg {display: block; width: 150px; height: 80px; flex-direction: row;}
    .inicio__titulo-1 {font-size: 30px; margin: 15px;}
    .inicio__listas {font-size: 25px; margin: 15px;}
    .inicio__imagen {width: 250px; height: 200px; text-align: center; margin: 5px;}
    .inicio__titulo-2 {font-size: 30px;}
    .footer {font-size: 10px; gap: 20px;}
    .producto {display: none;}
    .producto {display: flex;flex-direction: column; align-items: center;}
    .productos {width: 250px; height: 400px; image-resolution: 100px 100px; font-size: 10px;}
}

@media screen and (max-width: 600px) {
    .header {height: 80px; display: flex; justify-content: space-around;}
    .logoimg {display: block; width: 150px; height: 80px; flex-direction: row-reverse;}
    .nav__enlace {display: none;}
    .icononav {display: block; flex-direction: row-reverse;}
    .inicio__titulo-1 {font-size: 30px; margin: 15px;}
    .inicio__listas {font-size: 25px; margin: 15px;}
    .inicio__imagen {width: 250px; height: 200px; text-align: center; margin: 5px;}
    .inicio__titulo-2 {font-size: 30px;}
    .footer {font-size: 10px; gap: 20px;}
    .producto {display: none;}
    .producto {display: flex; flex-direction: column; align-items: center;}
    .productos {width: 250px; height: 400px; image-resolution: 100px 100px; font-size: 10px;}


}